<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>Daniel Melchior | Freelance Programmer</title>  

<link href="static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('static/assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Daniel Melchior</h1>
      <p>Freelance Programmer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/MelchiorDaniel" target="_blank" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/go_danny_boy_go" target="_blank" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/dmelchior" target="_blank" title="">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.youtube.com/user/danielmelchior/" target="_blank" title="">
          <i class="fa fa-youtube"></i>
        </a>
      </p>
    </div>
  </header>

 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="static/assets/images/img-01.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>Hi, I'm Daniel. I won't keep you long, but I'd like to briefly share my story with you. 
                I've been dabbling in all things computer related since the days of AOL and dial-up modems! 
                I remember fondly when I was around 12, finding an 872 page C++ book online - more like an encyclopedia! 
                Without hesistation I clicked "print all", thinking this would be a great read on the way to Granny's house.</p>
                <p>My family's poor printer made a valiant effort to fulfil it's duty of printing the ENTIRE BOOK, 
                but sadly ran out of ink after the first 50 pages or so. Those pages were indeed good reading material.
                I pored over them for the entire trip, understanding little of what I was reading at the time. I was fascinated 
                at the prospect of knowing a computer language, something that I felt was a rare skill. There began my life-long interest in code. </p>
              <p>I later went on to study computer science at Franklin University in Columbus Ohio. 
                University was an enjoyable experience though like many, I feel I have taught myself much more over the years through trial and error than I ever learned through a formal education.
                </p>
              <p>I consider myself a "jack of all trades" as far as technical expertise goes. I have had the pleasure to work 
                in many disciplines with many technologies over the years and am confident that whatever project may come next, I have the skills necessary to accomplish it.
                I like to view myself not as a programmer but as a problem solver that happens to be good with a computer! 
                And I'm happy to report that I'm still just as facinated by programming as I was those many years ago - just maybe a little easier on my printer :)
              </p>
              <p>Please take your time and browse through some of my past projects, and don't forget to check out my social links! I hope we'll get the chance to work with each other in the near future!</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>A Few Fun Personal Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="static/assets/images/img-02.jpg" class="img-responsive" alt="">
                <h3 class="h5">AR Alphabet Flashcards</h3>
                <p>Augmented Reality Mobile App</p>
                <p>My first attempt at building an augmented reality app from the ground up. As the name suggests, it is a childrens app designed
                  to aid children in the learning of the English alphabet. Interestingly, most of my downloads have come from India and Brazil.</p>
                  <p>Users print out a deck of alphabet cards. When pointing the device's camera at a card, a 3d models of an item  representing the letter 
                    pops onto the screen. The model tracks with the card, meaning if you move the card, the model will smoothly follow on top of the card.
                  Also implemented were virtual buttons which were included in the card printouts. When touched by finger the device will speak the name of the letter.
                  Another button animates the model. 
                </p>
                <p>Technologies used for this project include Android, Unity, Vuforia, C#, Google Blocks</p>
              </div>
              <div class="col-md-4">
                <img src="static/assets/images/img-03.jpg" class="img-responsive" alt="">
                <h3 class="h5">AR Build - Farm</h3>
                <p>Augmented Reality Mobile App</p>
                <p>In my continued foray into augmented reality, this app was designed to be a game
                  Minecraft-esque in nature. It was built with children in mind as the target demographic, although I must
                  admit that I have quite a bit of fun playing it myself! </p>
                  <p>The game plays like virtual toys. The player starts off
                  with an inventory bag with a variety of farm buildings, vehicles, animals, characters, crops, and the like.
                  The player's device scans the surface of their physical surroundings using it's camera and when it finds a suitable
                  surface, it allows the player to begin placing items from the inventory. Items can be added, deleted, moved, scaled,
                  and rotated at any point in time by simple touch gestures.
                </p>
                <p>Technologies used for this project include Android, Unity, Google ARCore, C#, Autodesk 3DS Max</p>
              </div>
              <div class="col-md-4">
                <img src="static/assets/images/img-04.jpg" class="img-responsive" alt="">
                <h3 class="h5">Movie Quote Chatbot</h3>
                <p>Have you ever needed some solid life advice but didn't have anyone to turn to?
                  Now you will - from a chatbot that spits movie quotes at you! Kidding, not kidding.
                  <p>When fully implemented the chatbot will use NLP ai and an quotes api to attempt to have 
                  engaging converstation about whatever you'd like, all while being limited to only using movie
                  quotes to answer you. Don't worry, it has plenty of material to work with. 
                  This project is still in development. Full project will be on Github when complete.
                </p>
                <p>Technologies used for this project include Python, Tensorflow, Facebook Messenger.</p>
              </div>
            </div>
          </div>
        </div>     
        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2010-2013</small>
                  <h3 class="h5 date-title">B.S. Computer Science</h3>
                  <p>Franklin University</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2018-2019</small>
                  <h3 class="h5 date-title">TEFL | CTEYL Certification</h3>
                  <p>International TEFL and TESOL Training</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019-2020</small>
                  <h3 class="h5 date-title">Web Security Training</h3>
                  <p>Portswigger Web Security Academy</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-12"> 
                <div class="language-experience">
                  <h3 class="h5">English</h3>
                  <p>I am a native English speaker with excellent communication skills. In fact, I am a certified
                    English instructor for students learning English as a second language.
                  </p>
                 </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.facebook.com/MelchiorDaniel" target="_blank" title=""><span class="social-round-icon fa-icon"><i class="fa fa-facebook"></i></span>Daniel Melchior</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/go_danny_boy_go" target="_blank" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@go_danny_boy_go</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://github.com/dmelchior" target="_blank" title=""><span class="social-round-icon fa-icon"><i class="fa fa-github"></i></span>dmelchior</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.youtube.com/user/danielmelchior/" target="_blank" title=""><span class="social-round-icon fa-icon"><i class="fa fa-youtube"></i></span>Daniel Melchior</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <a name="contact"></a>
            <h2>Contact</h2>
            <p>Thanks for reaching out! I'll be in touch.</p>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="static/assets/images/signature.png" alt=""></p>
        
        <p>© 2020 All right reserved</p>
        </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="static/main.bc58148c.js"></script></body>

</html>